@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-image:  url("./assets/cell.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0);
    background-position: 0px 350px;
}

.navbar {
   background-color: #8f1a72;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   top: 0;
}

.navbar .logo img {
    color: white;
    margin-left: 1rem;
    width: 40px;
    height: 40px;
}

.navbar li {
    list-style: none;
    display: inline;
    
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 1rem;
}

.navbar a:hover {
    background-color:#701c5b;
}

.main h1 {
    color: white;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
}

.main span {
    text-transform: capitalize;
    display: block;
    font-size: 1.6rem;
}

.main p {
    color: white;
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
    background-color: black;

}

.footer p {
    color: white;
    display: inline;
    font-size: x-small;
    font-family: sans-serif;
}


@media (min-width: 715px) {
    body {
        background-position: 0px 250px;
    }
    .main p{
       
    }
    }
    
    @media (min-width: 915px) {
        body {
            background-position: 0px 180px;
        }
        .main p{
           
        }
        }


@media (min-width: 1280px) {
body {
    background-position: 0px 90px;
}
.main p{
    text-align: left;
    margin-bottom: -3em;
}
}